body{
  font-family: 'Goldenbook regular';

}

.brand-logo{
  font-family: 'Goldenbook light';
}

.carousel .carousel-item img {
  width: 18rem;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow:  21px 21px 58px #999999, 
              -21px -21px 58px #ffffff;
  }

  .row{
    padding-top: 20px;
   
  }


  .horizontal .card-image img{
    min-width:155px;

    box-shadow:  5px 1px 7px #eae9e9, 
             -1px -1px 1px #d5d4d4;
  }


  .card-stacked .card-content .card-title, .card-reveal .card-title{ 
    font-size: 17px;border-radius: 5px;
  
  }


  .card .card-action{
    margin: 0 auto;
  }

  .card .card-action a{ 
   border-radius:20px; 
   display: flex; align-items: center;
   justify-content: space-between;
   max-width: 80px;
  }

  .card .card-action a:hover,  .card-stacked .card-content .card-title:hover, .card-reveal .card-title:hover{ 
    box-shadow:  5px 5px 10px #f4f4f4, 
    -5px -5px 10px #ffffff;
   }



   /*Deuxième page*/


  a.collection-item:hover{
    background-color:#673ab7 ;
    border-right:  5px solid #4b34b4;
    border-left:  5px solid #4b34b4;
  }

  .collection {
   border: none;
  
   border-radius:8px;

  }

  .collection-item {
    color:black;
   padding: 4px 6px;
 
   }

   .chapNum{
    border-radius:50%; 
    padding: 7px 9.9px;
    font-size: 10px;
   }

  



footer {
  color: #b4b4b4;
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  border: none;
  background: #fffbf888;

font-family: 'Goldenbook Light';

}


@font-face {
  font-family: "Goldenbook Light";
  src: url("i/font/GoldenbookLight.otf");

 }
 @font-face {
  font-family: "Goldenbook Regular";
  src: url("i/font/GoldenbookRegular.otf");

 }
 @font-face {
  font-family: "Goldenbook Bold" ;
  src: url("i/font/GoldenbookBold.otf");

 }

@media screen and (max-width:700px) {
  iframe{
    width: 100%;
    height: 60vh;
  }
}